<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
                   <link rel="stylesheet" href="{{ asset('bundles/css/bootstrap.css') }}">
                           <script src="{{ asset('bundles/js/jquery.min.js') }}"></script>
                           <script src="{{ asset('bundles/js/bootstrap.js') }}"></script>
                            <script src="{{ asset('bundles/js/jquery-1.10.2.js') }}"></script>
                            <script src="{{ asset('bundles/js/main.js') }}"></script>





                {% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}<script src="{{ asset('bundles/js/jquery.min.js') }}"></script>
                           <script src="{{ asset('bundles/js/jquery.js') }}"></script>
                            <script src="{{ asset('bundles/js/jquery-1.10.2.js') }}"></script>





 <script src="{{ asset('bundles/js/bootstrap.min.js') }}"></script>{% endblock %}
    </body>
</html>

