{% extends "MyschoolBundle:Default:affichage.html.twig" %}

{% block menu %}
    <h1>Matiere</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ matiere.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ matiere.libelle }}</td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <a class="btn btn-success" href="{{ path('matiere_edit', { 'id': matiere.id }) }}"><i class="glyphicon glyphicon-edit"></i> modifier</a>
                    {{ form_start(delete_form) }}
                    <input class="btn btn-danger" type="submit" value="supprimer">
                    {{ form_end(delete_form) }}
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('matiere_index') }}">Back to the list</a>
        </li>


    </ul>
{% endblock %}
