{% extends "MyschoolBundle:Default:affichage.html.twig" %}

{% block menu %}

       <div class="col-md-4">

           <ul class="list-group">
  {% for cl in enss %}
      <li class="list-group-item col-md-12">
          
            <a href="{{ path('alert', { 'id': cl.id }) }}">{{ cl.libelle }}</a>
      </li>
  {% endfor %}
  </ul>
  </div>
  
  {% if rep %}
      <form method="post" action="{{ path('alert')}}">
      <div class="col-md-4">
          <ul class="list-group">
  {% for st in rep %}
      <li class="list-group-item col-md-12">
          <input type="checkbox" value="{{st.id}}">
      <label >{{st.nom}} {{st.prenom}}</label>
      </li>
      
  {% endfor %}
{% endif %}
      </ul>
      </div>
     <input class="btn btn-danger " type="submit" value="submit">
  </form>

{% endblock %}