{% extends "MyschoolBundle:Default:affichage.html.twig" %}

{% block menu %}
    <h1>List Classe</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
        {% for cl in enss %}
            <tr>
                <td>{{ cl.id }}</td>
                <td>{{ cl.libelle }}</td>
                <td><a class="btn btn-success" href="{{ path('edit_Class', { 'id': cl.id }) }}"><i class="glyphicon glyphicon-plus-sign"></i> Modifier</a></td>
                <td><a class="btn btn-danger" href="{{ path('remove_Classe', { 'id': cl.id }) }}"><i class="glyphicon glyphicon-trash"></i> Supprimer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('classe_new') }}">
                Ajout Classe
            </a>
        </li>
    </ul>
    {% endblock %}